/* Utility class */
body{
    font-family: 'Open Sans', sans-serif;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
}
.txt_weight-600{
    font-weight: 600;
}
.txt_white{
    color: white;
}
h2{
    color:#031C4E;
}
/* /Utility class */

/*********** Header class ***********/
/* |||||||Nav Bar||||||| */
.row_nav{
    margin: 20px 0;
    line-height: 30px;
    font-size: 0.8rem;
    background-color: white;
}
.logo_nav{
    height: 30px;
}
.fa-bars{
    font-size: 25px;
}
/*** layout ***/
.row_nav ul li {
    display: inline-block;
}
.menu_center{
    display: flex;
    justify-content: flex-start;
}
.menu_center li:not(:first-child){
    padding-left: 20px;
}
.menu_right{
    display: flex;
    justify-content: flex-end;
}
.menu_right li:not(:last-child){
    padding-right: 20px;
}
/*** /layout ***/
/*** style ***/
nav a{
    color:#031C4E;
    font-weight: 600;
}
nav li a i{
    font-size: 0.8rem;
}
/* bottone blu */
.menu_right li:last-child a{
    color: #016DFF;
    padding: 10px 15px;
    border-radius: 5px;
    border:1px solid #016DFF;
}
.menu_right li:last-child:hover a{
    color: white;
    background-color: #016DFF;
}
/* bottone blu */
/*** /stile ***/
/* |||||||/Nav Bar||||||| */

/* |||||||Jumbotron||||||| */
.jumbotron{
    background-image: url("../img/bg-banner-home.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}
.container.row.jumbo{
    padding: 3rem 0;
}
/*** Jumbotext ***/
#jumbotext{
    width: 50%;
}
#jumbotext h1{
    font-size: 2.5rem;

}
#jumbotext p{
    padding: 30px 0 ;
    font-size: 1rem;
    line-height: 35px;
}
/*** /Jumbotext ***/

/*** Jumbo_form ***/

.jumbo_form{
    width: 40%;
    float: right;
    border-radius: 10px;
    background-color: white;
}
.form_title{
    padding-top: 10px;
    padding-bottom: 10px;
}
.jumbo_input>*, .jumbo_signin button{
    width: 80%;
    margin-top: 15px;
    padding: 12px 5px;
    border-radius: 5px;
    border: none; 
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.3);
}
.jumbo_signin button{
    font-size: 15px;
    color: white;
    background-color: #016DFF;
}

/* signup firstchild */
.signup_google div:first-child{
    font-size: 15px;
    background-color: #e0e0e0;
    margin: 15px 10%;
    padding: 10px 5px;
    border-radius: 7px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.3);
    position: relative;
}
.signup_google div:first-child img{
    height: 22px;
    position: absolute;
    top:50%;
    left:10px;
    transform: translate(0,-50%);
}
.signup_google div:first-child a{
    padding: 15px 5px;
    color: #031C4E;
    font-weight: 600
}
/* signup firstchild */

/* signup lastchild */
.signup_google div:last-child{
    font-size: 15px;
    color: #031C4E;
    margin:20px 0 1rem;   
}
.signup_google div:last-child span{
    margin-top: 20px;
}
.signup_google div:last-child a{
    color: #016DFF;
    text-decoration: underline #016DFF;   
}
/* signup lastchild */
/*** /Jumbo_form ***/
/* |||||||/Jumbotron||||||| */
/*********** /Header class ***********/

/*********** /Main class ***********/
/* |||||||Section 1||||||| */
.frame_sc_one{
    background-color: #F3F5F9;
}
/* txt frame one */
.title_frm1{
    margin-top: 30px;
    font-size: 0.5rem;
    justify-content: center;
}
.title_frm1 h2{
    color: #76819C;
}
.story_frm1{
    margin-bottom: 30px;
    justify-content: center;
}
.story_frm1 a{
    font-size: 0.8rem;
    color:#006AFF;
}
/* /txt frame one */

/* img frame one */
.img_frm1{
    flex-wrap: wrap;
    justify-content: space-around;
}
.img_frm1 img{
    width: 150px;
}
/* /img frame one */
/* |||||||/Section 1||||||| */

/* |||||||Section 2||||||| */
/* title and p */
.title_frm2{
    flex-flow: column wrap;
    align-items: center;
    margin-bottom: 1.5rem;
}
.title_frm2 h2{
    font-size: 35px;
    padding: 20px;
}
.title_frm2 p{
    line-height: 35px;
    font-size: 1.12rem;
}
/* title and p */

/* list_fr2 */
.list_fr2_int{
    border-left: 1px solid grey;  
}
.list_fr2 ul li{
    padding-left: 30px;
    padding-bottom: 20px;
    font-size: 1.3rem;
    color:#75809A;
}
.list_fr2 ul li:last-child{
    padding-bottom: 10px;
}
/* /list_fr2 */

/* grid_fr2 */
.grid_fr2{
    flex-flow: row wrap; 
}
.grid_fr2 div:nth-child(even){
    padding-left: 20px;
}
.grid_fr2 div img{
    width: 50px;
}
.grid_fr2 div h3{
    padding: 10px 0;
}
.grid_fr2 div p{
    font-size: 0.9rem;
    margin-bottom: 10px;
}
/* /grid_fr2 */
/* |||||||/Section 2||||||| */





/* MADIA QUERY */
@media screen and (max-width:767px){

    /*** Header query ***/
    .menu_right, .menu_center{
        display: none;
    }
    #jumbotext{
        width: auto;
        margin: auto 5%;
    }
    #jumbotext h1{
        font-size: 45px;
    }
    .jumbo_form{
        width: 90%;
        margin: auto 5%;
    }
    /*** /Header query ***/

    /*** Main query ***/
    /*Section one */
    .title_frm1 h2{
        font-size: 22px;
    }
    .img_frm1 img{
        width: 220px;   
    }
    .story_frm1 a{
        font-size: 18px;
    }
    /*/Section one */

    /*Section two */
    .list_fr2{
        margin-left: 10px;
        margin-bottom: 20px;
    }
    .grid_fr2 div{
        padding-bottom: 20px;
    }
    .grid_fr2 div:nth-child(even){
        padding-left: 0;
    }
    /*/Section two */
}


@media screen and (min-width:768px) and (max-width:991px){

    /*** Header query ***/
    .menu_right, .menu_center{
        display: none;
    }
    #jumbotext{
        margin-left: 20px;
    }
    .jumbo_form{
        width: 35%;
        margin-top: 30px;
        margin-right: 20px;
    }
    /*** /Header query ***/

    /*** Main query ***/
    /* img frame one */
    .img_frm1 img{
        width: 100px;   
    }
    /* /img frame one */
    /*** /Main query ***/
}


@media screen and (min-width:992px){
    /* Header query */
    .row_nav div:last-child{
        display: none;
    }
    /* /Header query */
}