/* Utility class */
body{
    font-family: 'Open Sans', sans-serif;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
    font-weight: 600;
}
.txt_weight-600{
    font-weight: 600;
}
.txt_white{
    color: white;
}
h2,h3,h4{
    color:#031C4E;
}
p{
    font-weight: 600;
}
main p{
    color:#5C6A88;
}
/* /Utility class */



/*********** Header class ***********/

/* |||||||Nav Bar||||||| */
.row_nav{
    margin: 20px 0;
    line-height: 30px;
    font-size: 0.8rem;
    background-color: white;
}
.logo_nav{
    height: 30px;
}
.fa-bars{
    font-size: 25px;
}
/*** layout ***/
.row_nav ul li {
    display: inline-block;
}
.menu_center{
    display: flex;
    justify-content: flex-start;
}
.menu_center li:not(:first-child){
    padding-left: 20px;
}
.menu_right{
    display: flex;
    justify-content: flex-end;
}
.menu_right li:not(:last-child){
    padding-right: 20px;
}
/*** /layout ***/
/*** style ***/
nav a{
    color:#031C4E;
}
nav li a i{
    font-size: 0.8rem;
    color:#016DFF;
}
/* bottone blu */
.menu_right li:last-child a{
    color: #016DFF;
    padding: 10px 15px;
    border-radius: 5px;
    border:1px solid #016DFF;
}
.menu_right li:last-child:hover a{
    color: white;
    background-color: #016DFF;
}
/* bottone blu */
/* menu hamburger */
.ham_menu{
    color:#016DFF;
}
/* /menu hamburger */
/*** /stile ***/
/* |||||||/Nav Bar||||||| */

/* |||||||Jumbotron||||||| */
.jumbotron{
    background-image: url("../img/bg-banner-home.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}
.container.row.jumbo{
    padding: 3rem 0;
}
/*** Jumbotext ***/
#jumbotext{
    width: 50%;
}
#jumbotext h1{
    font-size: 2.5rem;
}
#jumbotext p{
    padding: 30px 0 ;
    font-size: 1rem;
    line-height: 35px;
}
/*** /Jumbotext ***/

/*** Jumbo_form ***/
.jumbo_form{
    width: 40%;
    float: right;
    border-radius: 10px;
    background-color: white;
}
.form_title{
    padding-top: 10px;
    padding-bottom: 10px;
}
.jumbo_input>*, .jumbo_signin button{
    width: 80%;
    margin-top: 15px;
    padding: 12px 5px;
    border-radius: 5px;
    border: none; 
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.3);
}
.jumbo_signin button{
    font-size: 15px;
    color: white;
    background-color: #016DFF;
}

/* signup firstchild */
.signup_google div:first-child{
    font-size: 15px;
    background-color: #e0e0e0;
    margin: 15px 10%;
    padding: 10px 5px;
    border-radius: 7px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.3);
    position: relative;
}
.signup_google div:first-child img{
    height: 22px;
    position: absolute;
    top:50%;
    left:10px;
    transform: translate(0,-50%);
}
.signup_google div:first-child a{
    padding: 15px 5px;
    color: #031C4E;
}
/* /signup firstchild */

/* signup lastchild */
.signup_google div:last-child{
    font-size: 15px;
    color: #031C4E;
    margin:20px 0 1rem;   
}
.signup_google div:last-child span{
    margin-top: 20px;
}
.signup_google div:last-child a{
    color: #016DFF;
    text-decoration: underline #016DFF;   
}
/* /signup lastchild */

/*** /Jumbo_form ***/

/* |||||||/Jumbotron||||||| */

/*********** /Header class ***********/



/*********** Main class ***********/

/* |||||||Section 1||||||| */
.frame_sc_one{
    background-color: #F3F5F9;
}
/* txt frame one */
.title_frm1{
    margin-top: 30px;
    font-size: 0.5rem;
    justify-content: center;
}
.title_frm1 h2{
    color: #76819C;
}
.story_frm1{
    margin-bottom: 30px;
    justify-content: center;
}
.story_frm1 a{
    font-size: 0.8rem;
    color:#006AFF;
}
/* /txt frame one */

/* img frame one */
.img_frm1{
    flex-wrap: wrap;
    justify-content: space-around;
}
.img_frm1 img{
    width: 150px;
}
/* /img frame one */
/* |||||||/Section 1||||||| */

/* |||||||Section 2||||||| */
/* title and p */
.title_frm2{
    flex-flow: column wrap;
    align-items: center;
    margin-bottom: 1.5rem;
}
.title_frm2 h2{
    font-size: 35px;
    padding: 20px;
}
.title_frm2 p{
    line-height: 35px;
    font-size: 1.12rem;
}
/* /title and p */

/* list_fr2 */
.list_fr2_int{
    border-left: 1px solid grey;  
}
.list_fr2 ul li{
    padding-left: 30px;
    padding-bottom: 20px;
    font-size: 1.3rem;
    color:#75809A;
}
.list_fr2 ul li:last-child{
    padding-bottom: 10px;
}
/* /list_fr2 */

/* grid_fr2 */
.grid_fr2{
    flex-flow: row wrap; 
}
.grid_fr2 div:nth-child(even){
    padding-left: 20px;
}
.grid_fr2 div img{
    width: 50px;
}
.grid_fr2 div h3{
    padding: 10px 0;
}
.grid_fr2 div p{
    font-size: 0.9rem;
    margin-bottom: 10px;
}
/* /grid_fr2 */
/* |||||||/Section 2||||||| */

/* |||||||Section 3||||||| */
.frame_sc_three{
    background-color: #F3F5F9;
}
/* title */
.title_frm3{
    flex-flow: column wrap;
    align-items: center;
    margin-bottom: 1.5rem;
}
.title_frm3 h2{
    font-size: 35px;
    padding: 20px;
}
.title_frm3 p{
    font-size: 1.1rem;
}
/* /title */

/* slide - img_p_icons */
.img_fr3 .slide{
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-around;
    padding: 0 40px 20px 40px;
}
.img_fr3 .slide img{
    height: 350px;
}
.img_fr3 .slide i{
    font-size: 1.5rem;  
}
.img_fr3 .slide i:first-child{
    color: #6F7B97 ;
    
}
.img_fr3 .slide i:last-child{
    color: #031C4E;
}
.img_fr3 .icon_circle p{
    font-size: 1rem;
    font-weight: 600;
    color: #031C4E;
}
.img_fr3 .icon_circle .circle i{
    font-size:0.5rem;
    color: #006AFF;
    padding-bottom: 30px;
}
/* /slide - img_p_icons */
/* |||||||/Section 3||||||| */

/* |||||||Section 4||||||| */
.frame_4{
    padding-top: 80px;
}
/* title */
.title_fr4 h2{
    padding-bottom: 30px;
}
/* /title */

/* griglia */
.grid_fr4{
    padding-bottom: 80px;
}
.grid_fr4_left{
    padding: 0 5px 0  10px;
}
.grid_fr4_center{
    padding: 0 5px;
}
.grid_fr4_right{
    padding: 0 10px 0 5px;
}
.grid_fr4 h3{
    padding-top: 10px;
}
.grid_fr4 p{
    font-size: 0.9rem;
    padding: 10px 0;
}
.grid_fr4 a{
    color: #006AFF;
    font-size: 0.8rem;
    font-weight: 600;
}
/* /griglia */
/* |||||||/Section 4||||||| */

/* |||||||Section 5||||||| */
.container.frame_5{
    padding-bottom: 30px;
}
.frame_sc_five{
    background-color: #0044C2;
}
/* title */
.title_fr5 h2{
    font-size: 1.65rem;
    color: white;
    padding-top: 50px;
}
/* /title */

/* columns */
.columns_list_fr5{
    margin: 30px 0;
}
.list_left_fr5{
    padding: 0 10px;
}
.list_right_fr5{
    padding: 0 10px ;
}
.columns_list_fr5 .items{
    border-bottom: 1px solid white;
    padding: 10px 10px;
}
.columns_list_fr5 .items div span{
    color: white;
    font-size: 0.8rem;
    font-weight: 600;
}
.columns_list_fr5 .items div:first-child{
    flex-grow: 1;
}
.columns_list_fr5 .items div:nth-child(even){
    flex-grow: 2;
}
.columns_list_fr5 .items div:last-child a{
    color: #00D5D1;
    font-size: 0.8rem;
}
/* /columns */
/* |||||||/Section 5||||||| */

/* |||||||Section 6||||||| */
.frame_sc_six{
    background-color: #F3F5F9 ;
}
/* title */
.title_frm6 h2{
    padding-top: 50px;
}
/* /title */

/* slide */
.slide_frm6{
    margin-bottom: 100px;
}
.slide_frm6 .slide{
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-around;
    margin-top: 50px;
}
.slide_frm6 .slide i:not(.icon_circle i){
    font-size: 1.5rem;
}
.slide_frm6 .slide i:first-child:not(.icon_circle i) {
    color: #6F7B97;
}
.slide_frm6 .slide i:last-child:not(.icon_circle i) {
    color: #031C4E;
}
.slide_frm6 .slide .img_frm6{
    background-color: white;
}
.slide_frm6 .slide .img_frm6 img{
    margin: 50px 0;
    height: 60px;
}
.slide_frm6 .slide .img_frm6 p{
    padding-bottom: 30px;
}
.slide_frm6 .slide .img_frm6 a{
    color: #006AFF;
    margin-bottom: 50px;
}
.slide_frm6 .slide .img_frm6 .icon_circle{
    font-size:0.5rem;
    color: #006AFF;
    padding:30px 0;
}
/* /slide */
/* |||||||/Section 6||||||| */

/* |||||||Section 7||||||| */
.frame_sc_seven{
    background-color: #0034AE;
}
.frame_7 .start_now {
    margin-bottom: 150px;
}
.frame_7 .start_now h2{
    padding-top: 150px;
    padding-bottom: 55px;
    font-size: 1.5rem;
    color: white;
}
.frame_7 .start_now a{
    background-color: white;
    color: #006AFF;
    padding: 15px 15px;
    border: 1px solid white;
    border-radius: 5px;
}
.frame_7 .start_now a:hover{
    background-color: #006AFF;
    border: 1px solid white;
    color: white;
}
/* |||||||/Section 7||||||| */

/*********** /Main class ***********/

/*********** Footer class ***********/
footer{
    background-color: #031C4E;
}
footer .container{
    padding-top: 80px;
    padding-bottom: 40px;
}
footer li{
    line-height: 40px;
    color: #A6ADBD;
    font-size: 15px;
}
footer li h3{
    color: white;
    font-size: 20px;
}
/* social-copy-div */
.social_copyright p{
    color:#A6ADBD;
    font-size: 18px;
    padding: 20px 25px 0px 0px;
}
.social_copyright span{
    font-size: 15px;
    color: #596786;
}
.social_copyright .social_links a i{
   font-size: 40px;
   color: #A6ADBD;
   padding: 25px 15px 25px 0;
}
/* /social-copy-div */
/*********** /Footer class ***********/


/* MEDIA QUERY */
@media screen and (max-width:767px){

    /*** Header query ***/
    .menu_right, .menu_center{
        display: none;
    }
    #jumbotext{
        width: auto;
        margin: auto 5%;
    }
    #jumbotext h1{
        font-size: 45px;
    }
    .jumbo_form{
        width: 90%;
        margin: auto 5%;
    }
    /*** /Header query ***/

    /*** Main query ***/
    /*Section one */
    .title_frm1 h2{
        font-size: 22px;
    }
    .img_frm1 img{
        width: 220px;   
    }
    .story_frm1 a{
        font-size: 18px;
    }
    /*/Section one */

    /* Section two */
    .list_fr2{
        margin-left: 10px;
        margin-bottom: 20px;
    }
    .grid_fr2 div{
        padding-bottom: 20px;
        padding-left: 10px;
    }
    .grid_fr2 div:nth-child(even){
        padding-left: 10px;
    }
    /* /Section two */

    /* Section three */
    .img_fr3 .slide i{
        display: none;
    }
    /* /Section three */

    /* Section four */
    .grid_fr4_left, .grid_fr4_center, .grid_fr4_right{
        padding-left: 10px;
        padding-bottom: 20px;
    }
    /* /Section four */

    /* Section five */
    .list_right_fr5{
        margin-top: 50px;
    }
     /* /Section five */

     /* Section six */
     .slide_frm6 .slide i:not(.icon_circle i){
         display: none;
     }
     /* Section six */
     
    /*** Main query ***/
}   


@media screen and (min-width:768px) and (max-width:991px){

    /*** Header query ***/
    .menu_right, .menu_center{
        display: none;
    }
    #jumbotext{
        margin-left: 20px;
    }
    .jumbo_form{
        width: 35%;
        margin-top: 30px;
        margin-right: 20px;
    }
    /*** /Header query ***/

    /*** Main query ***/
    /* img frame one */
    .img_frm1 img{
        width: 100px;   
    }
    /* /img frame one */

    /* Section three slide */
    .img_fr3 .slide{
        padding: 0 20px;
    }
    /* Section three slide */

    /* Section four servers */
    .list_right_fr5{
        margin-top: 50px;
    }
     /* /Section four servers */
    /*** /Main query ***/
}


@media screen and (min-width:992px){
    /* Header query */
    .row_nav div:last-child{
        display: none;
    }
    /* /Header query */
}